
.select {
    outline: none;
    appearance: none;
    width: 165px;
    height: 24px;

    border: 1px solid #C2C2C2;
    border-radius: 2px;
    padding: 2px 5px 2px 5px;
    background-image: url('/src/s2-homeworks/hw07/common/c5-SuperSelect/chevron-down.svg') ;
    background-position: 100% 0;
    background-repeat: no-repeat;

}

.select:focus {

}

.option:hover {

}
