.background {
  display: flex;
  flex-direction: column;

  min-width: 100%;
  min-height: 100vh;

  background: #d1d1d1;
}

.profile {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.profileBlock {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;

  width: 413px;
  height: 360px;
  padding: 30px;

  
  background: aliceblue;
  border-radius: 15px;
}

.photoProfile {
  align-content: center;
  align-items: center;
}

.photoProfile img {
  width: 150px;
  height: 150px;

  border-radius: 50%;
}

.backBlock {
  display: flex;
  align-content: start;
  align-items: start;
}

.changeNameBlock {
  display: flex;
}
