.radio {
  cursor: pointer;

  position: relative;

  box-sizing: content-box;
  width: 16px;
  height: 16px;

  outline: none;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.radio::before {
  content: '';

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  box-sizing: border-box;
  width: 16px;
  height: 16px;

  border: 1px solid #000000;
  border-radius: 50%;
}
.radio:checked::before {
  content: '';

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  box-sizing: border-box;
  width: 16px;
  height: 16px;

  border: none;
  border-radius: 50%;
}

.radio:checked::after {
  content: '';

  position: absolute;

  box-sizing: border-box;
  width: 16px;
  height: 16px;

  background: #FFFFFF;
  border: 4px solid #366EFF;
  border-radius: 50%;
}

.label {
  display: flex;
  align-items: center;

  padding-bottom: 20px;
}

.options {
  display: flex;
  flex-direction: column;
}

.span {
  padding-left: 13px;

  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
