.button {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;

  width: 132px;
  height: 30px;
  padding: 5px 24px;

  color: white;

  border: none;
  border-radius: 3px;
  outline: none;

  transition: 0.5s all;
}

.disabled {
  width: 133px;

  color: white;

  opacity: 0.5;
  background: #004d99;
}

.secondary {
  width: 176px;

  color: #0066cc;

  background: white;
  border: 1px solid #0066cc;
}

.default {
  background: #0066cc;
}

.red {
  background: #cc1439;
  border-radius: 3px;
}

.default:hover {
  width: 167px;

  background: #0080ff;

  transition: 0.3s all;
}

.red:hover {
  width: 167px;

  background: #ff1a47;

  transition: 0.3s all;
}

.secondary:hover {
  width: 167px;

  background: #e5f0fa;
  border: 1px solid #0066cc;

  transition: 0.3s all;
}

.default:active {
  width: 149px;

  background: #0059b3;
}

.secondary:active {
  width: 149px;

  background: #c9e5ff;
  border: 1px solid #0066cc;
}

.red:active {
  width: 149px;

  background: #b31232;
}

.button:disabled {
  width: 133px;

  opacity: 0.5;
  background: #004d99;

  transition: 0.3s all;
}
